<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="padding-top">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      首页
    </ion-title>
    <ion-buttons slot="end" class="padding-top">
      <ion-button>
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/androidbanner.png" alt="">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let s of sales">
        <h6>{{s.title}}</h6>
        <h4><span>{{s.current | number:'1.2-2'}}元</span></h4>
        <p style='font-size:x-small'>
          {{s.content}}
          <span [class]="(s.current - s.previous) >0? 'less-equal': 'greater'">
            {{s.current - s.previous | number:'1.2-2'}}
          </span>&nbsp;
          <ion-icon name="arrow-{{(s.current - s.previous) >0?'up':'down'}}-circle-outline"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="grid">
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
          <img class="shortcu-icon" src="assets/img/add_salse.png" routerLink="/product/add">
        </ion-thumbnail>
        <div>新增商品</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
        <img class="shortcu-icon" src="assets/img/add_user.png">
      </ion-thumbnail>
        <div>新增会员</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
        <img class="shortcu-icon" src="assets/img/sales_account.png">
      </ion-thumbnail>
        <div>收银管理</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
        <img class="shortcu-icon" src="assets/img/a_note.png">
      </ion-thumbnail>
        <div>支出管理</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="grid">
    <ion-col size="3">
      <div class="grid-item" routerLink="/product/list">
        <ion-thumbnail>
          <img class="shortcu-icon" src="assets/img/sales_management.png">
        </ion-thumbnail>
        <div>商品管理</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
        <img class="shortcu-icon" src="assets/img/user_management.png">
      </ion-thumbnail>
        <div>会员管理</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
        <img class="shortcu-icon" src="assets/img/shop_management.png">
      </ion-thumbnail>
        <div>销售查询</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
        <img class="shortcu-icon" src="assets/img/analysis.png">
      </ion-thumbnail>
        <div>智能分析</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="grid">
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
          <img class="shortcu-icon" src="assets/img/gongying_more.png">
        </ion-thumbnail>
        <div>供应商管理</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
        <img class="shortcu-icon" src="assets/img/guandan_more.png">
      </ion-thumbnail>
        <div>挂单</div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="grid-item">
        <ion-thumbnail>
        <img class="shortcu-icon" src="assets/img/image_addsales.png">
      </ion-thumbnail>
        <div>高级功能</div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
