<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<ion-list  inset="true" lines="none" >
  <ion-item>
    <ion-label style="font-weight: 600;">以下是一些未做的功能：</ion-label>
  </ion-item>
</ion-list>

<ion-list  inset="true" lines="none">
  <ion-item>
    <ion-note>1. 商品详情页，按分类和关键字等筛选搜索没做。</ion-note>
  </ion-item>
  <ion-item>
    <ion-note>2. 改密码和忘记密码没做</ion-note>
  </ion-item>
  <ion-item>
    <ion-note lines="none">3. 短信验证没做</ion-note>
  </ion-item>
</ion-list>


  <ion-list  inset="true" lines="none">
   <ion-item>
    <ion-note>心得体会：跨考做这个，要做的太多，学的太慢。太花时间，如果能先学一部分CSS,Html和JS会比较轻松，也比较合适。</ion-note>
   </ion-item>
  </ion-list>
  <wgd-copyright></wgd-copyright>
</ion-content>
