<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>商品管理</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gotoCatogory()">
        <ion-icon slot="start" name="list-outline"></ion-icon>
        分类
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar color="light">
    <ion-searchbar placeholder="请输入商品名称，拼音，数字...">
    </ion-searchbar>
  <ion-buttons slot="end">
    <ion-button expand="block" fill="outline" color="primary">
      商品盘点
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label>总库存  3402件，总成本 98028元 </ion-label>
      <ion-icon class="icon" slot="end" name="notifications"></ion-icon>
      <ion-icon class="icon" slot="end" name="add" [routerLink]="['/product/add']" ></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item *ngFor="let product of products" color="light"  [routerLink]="['/product/info', product.id]"   >
      <ion-thumbnail slot="start" class="ion-margin">
        <img src="assets/img/c_goodspicture.png" alt="暂无图片" *ngIf="product.images.length === 0">
        <img src={{product.images[0]}} alt="" *ngIf="product.images.length !== 0">
      </ion-thumbnail>
      <table>
        <tr><strong>{{product.name}}</strong></tr>
        <tr><span style="color: red;"> ￥ {{product.price}}</span></tr>
        <tr>条码: &nbsp;{{product.barcode}}&nbsp; 库存: &nbsp;{{product.inventory}} 件</tr>
      </table>

    </ion-item>
  </ion-list>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-down-outline"
            pullingText="下拉可以刷新"
            refreshingSpinner="circles"
            refreshingText="正在加载...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onInfinite($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="加载更多商品数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>