.logo {
    margin-top: 3%;
    width: 33%;
    margin-bottom: 3%;
    padding-top: 20px;
}
hr {
    height: 1.5px;
    border: none;
}
.full-width {
    width: 15%;
}
.backcolor {
    background-color: black;
}
.full{
    width: 120%;
    border: none
}