<!-- <ion-header> -->
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="end" class="padding-top">
      <ion-button  color="primary" [hidden]="!showSkip" fill="solid" expand="block" (click)="onSkip()">
        跳过
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<!-- </ion-header> -->

<ion-content>
  <ion-slides  pager="false" #slides (ionSlideWillChange)="onSlideWillChange($event)" class = "full-screen">
    <ion-slide>
      <img src="/assets/img/splsh_one.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/splsh_two.png" alt="">
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/img/splsh_three.png">
          </ion-col>
        </ion-row>
        <ion-row class = "fixed-bottom">
          <ion-col>
            <ion-button color="primary" fill="outline" expand="block" routerLink="/passport/login" >登录</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" expand="block" routerLink="/passport/signup">注册</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
