<ion-header>
  <ion-toolbar color='primary'>
    <ion-back-button color='light' slot='start' text='首页'></ion-back-button>
    <ion-title>店铺设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='light'>
  <ion-list inset="true">
    <ion-item detail href="" lines="none" routerLink="/setting/shop">
      <ion-label lines="inset">店铺设置</ion-label>
    </ion-item>

    <ion-item detail href="" lines="none" routerLink="/setting/change-password">
      <ion-label>密码</ion-label>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item detail href="" lines="none" routerLink="/setting/about-me">
      <ion-label>关于我们</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>联系客服</ion-label>
      <ion-note slot="end" ><a href="tel:13003933550">13003933550</a></ion-note>
    </ion-item>

    <ion-item detail href="" lines='none'>
      <ion-label slot="start" >版本号: 0.8.4</ion-label>
      <ion-note slot="end">检查更新</ion-note>
    </ion-item>
  </ion-list>

  <ion-list inset="true" >
    <ion-item detail href="" lines='none' (click)="unlogin()">
      <ion-label>安全退出</ion-label>
    </ion-item>
  </ion-list>
  <wgd-copyright [bottom]="'20px'"></wgd-copyright>
</ion-content>
