<ion-header>
  <ion-toolbar>
    <ion-title>change-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item lines="none">
    <ion-input>
    <ion-input name="confirmPassword" #confirmPassword="ngModel" [appConfirm]="newPassword.value" [(ngModel)]="viewObject.confirmPassword" required type="text">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
    <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm">
      两次密码不一致
    </ion-text>
    <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
      请输入确认密码
    </ion-text>
  </ion-item> -->
</ion-content>
