<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" text="返回"></ion-back-button>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label>请输入旧密码</ion-label>
    <ion-item lines="none">
      <ion-input type="text" name="oldpassword" #oldpassword="ngModel"  [(ngModel)]="oldpass" 
      placeholder="请输入登录密码"  required pattern="^[a-zA-Z]\w{5,17}$" type="text">
      </ion-input>
    </ion-item>
    <!-- <ion-text class="ion-text-left" color="danger" *ngIf="(oldpassword.invalid && oldpassword.touched)">
      <h5 [hidden]="!oldpassword.errors?.required" class="padding-start">请输入密码</h5>
      <h5 [hidden]="!oldpassword.errors?.pattern" class="padding-start">密码需要以字母开头,长度在6~18之间!</h5>
    </ion-text> -->
  </ion-list>

  <!-- <ion-list>
    <ion-item lines="none">
      <ion-input type="text" name="confirmPassword" #confirmPassword="ngModel" [wgdConfirm]="newPassword.value"
       [(ngModel)]="viewObject.confirmPassword" required type="text">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
      <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm">
        两次密码不一致
      </ion-text>
      <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
        请输入确认密码
      </ion-text>
    </ion-item>
  </ion-list>

<ion-list>
  <ion-item lines="none">
    <ion-input type="text" name="confirmPassword" #confirmPassword="ngModel" [wgdConfirm]="newPassword.value"
     [(ngModel)]="viewObject.confirmPassword" required type="text">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
    <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm">
      两次密码不一致
    </ion-text>
    <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
      请输入确认密码
    </ion-text>
  </ion-item>
</ion-list> -->
</ion-content>
