<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button slot="start" text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label>请输入旧密码</ion-label>
    <ion-item lines="none">
      <ion-input type="text" name="oldpassword" #oldpassword="ngModel"  [(ngModel)]="oldpass" 
      placeholder="请输入登录密码"  required pattern="^[a-zA-Z]\w{5,17}$" type="text">
      </ion-input>
    </ion-item>
  </ion-list>

</ion-content>
